---
title: Franco Arriaga
layout: default
---

<div class="mid-section-home">
    <h1><span>Hola me llamo </span>{{ site.author_name }}</h1>
    <div class="row sub-heading">
        <div class="summary-about-me">
            <p>{{ page.home_text }}</p>
        </div>
        <div class="nav-link">
            {% include navigation.html %}
        </div>
    </div>

    <div>
        <p class="agregado">Redes</p>
       <a href="https://github.com/francoarriaga"> <img src="\gitimagen.gif" alt="Sin imagen" width="80" height="80">
       </a>
    </div>
</div>
